<form>
{{error}}

<label for="username"> Username </label>
<input type="password", name="username"><br>
<br>
<label for="password"> Password </label>
<input type="password", name="password"><br>
	
<input type="submit">
</form>